body {
    font-family: Arial, sans-serif;
    margin: 20px;
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

/*###### ТАБЛИЦА */
.container {
    display: flex;
    align-items: baseline;
}

/* ## колонки */
.fixed-column,
.scrollable-column {
    border-collapse: collapse;
}

.scrollable-column {
    min-width: 1000px;
}

.fixed-column {
    width: 250px;
    table-layout: fixed;
    text-align: left;
}

/* ## ячейки */
.fixed-column th,
.fixed-column td,
.scrollable-column th,
.scrollable-column td {
    border: 1px solid #ccc;
    padding: 4px;
    height: 20px; 
}

.scrollable-column th,
.scrollable-column td {
    text-align: center;
    width: 20px;
    min-width: 20px;
    max-width: 20px;
}

.fixed-column td {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 15px;
}

.scrollable-container {
    overflow-x: auto ;
    border-right: 1px solid #ccc;
    /* max-width: 100%; */
    max-width: calc(100% - 400px);
    -ms-overflow-style: none; 
    scrollbar-width: thin;
    scrollbar-color: rgb(113, 112, 112) #f9f9fd;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.working {
    background: #d4edda;
}

.dayoff {
    background: #f8d7da;
}

.study {
    background: #fff3cd;
}

.vacation {
    background: #d1ecf1;
}

input,
select {
    padding: 4px;
    /* padding-left: 15px; */
    margin: 10px 0;
}

input {
    padding: 8px;
    margin: 10px 0;
    width: 250px;
    box-sizing: border-box;
}